@import "../../assets/scss/utilities/index";

.Movies {
  &__list {
    grid-gap: 0;
    grid-template-columns: 1fr;

    .Movies__item {
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: rem(20) rem(15);
      border-bottom: rem(1) solid map-get($theme-colors, 'soft-gray' );
    }

    .Movies__item-title {
      @include mq(bp(medium)) {
        margin-top: 0;
      }
    }

    .Movies__item-gradient {
      flex-direction: column-reverse;
      align-items: flex-start;
      background: none;
      padding: 0;

      @include mq(bp(medium)) {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
      }
    }
  }
}
