@import "../../assets/scss/utilities/index";

.Movies {

  &__grid {
    --auto-grid-min-size: 16rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;

    .Movies__item-gradient {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }

    .Movies__item-title,
    .Movies__item-date {
      flex-grow: 1;
      flex-basis: 100%;
    }
  }
}
