.Button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    padding: rem(8) rem(12);
    border-radius: rem(4);
    transition: background-color .4s ease, box-shadow .4s ease;

    &__icon {
      path {
        transition: fill .4s ease;
        color: map-get($theme-colors, "white")
      }
    }

    &:hover,
    &:focus,
    &:focus-within {
        outline: none;
    }

    &:hover,
    &--is-active {
      .Button__icon {
        path {
          fill: map-get($theme-colors, 'green');
        }
      }
    }
}
