.Button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: rem(8) rem(12);
    border-radius: rem(4);
    transition: background-color .4s ease, box-shadow .4s ease;

    &__icon {
      path {
        transition: fill .4s ease;
        color: map-get($theme-colors, "white")
      }
    }

    &:hover,
    &:focus,
    &:focus-within {
        outline: none;
    }

    &:hover,
    &--is-active {
      .Button__icon {
        path {
          fill: map-get($theme-colors, 'green');
        }
      }
    }

    &--large {
      padding: rem(12) rem(30);
    }

    &--primary {
      background-color: map-get($theme-colors, "primary");
      color: map-get($theme-colors, "white");

      @include hover {
        background-color: darken(map-get($theme-colors, "primary"), 10%);
      }
    }
}
