@mixin display-child($n) {
    @for $i from 2 through $n {
      &:nth-of-type(#{$i}) {
        display: block;
      }

      &:nth-last-of-type(#{$n}) {
        display: block;
      }
    }
 }

.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  @include reset-list;

  &__item {
    flex-grow: 1;
    flex-basis: rem(50);
    padding: rem(15);
    border: rem(1) solid;
    box-sizing: border-box;
    display: none;

    @include display-child(2);

    @include mq(bp(small)) {
      &--next-left,
      &--next-right { display: block; }
    }

    @include mq(bp(large)) {
      display: block;
    }

    &--active {
      background-color: map-get($theme-colors, "red"); display: block;
    }
  }
}
