@import "../../assets/scss/utilities/index";

.Spinner {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9000;
  background: map-get($theme-colors, "darkgray");
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  &__image {
    display: block;
    width: rem(100);
    height: rem(100);

    svg path { fill: map-get($theme-colors, "primary"); }
  }
}
