.Layout {
  &__container {
    display: grid;
    // grid-template-columns: 1fr;
    grid-gap: rem(10);
    padding: 0 rem(10);

    @include mq(bp(large)) {
      grid-template-areas:
        'nav header header header'
        'nav main main main'
        'nav footer footer footer';
      grid-template-columns: 300px repeat(3, 1fr);
      padding: 0;
    }
  }

  @include mq(bp(large)) {

    &__navigation {
      grid-column: span 1;
    }

    &__header,
    &__footer,
    &__page {
      grid-column: span 3;
    }
  }
}

.container {
  max-width: rem(1140);
  margin: 0 auto;
  //padding: 0 rem(15);
}
