.Layout {

  background-color: map-get($theme-colors, "darkgray");
  min-height: 100vh;

  display: grid;
  grid-gap: rem(10);
  padding: 0 rem(10);
  // grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: 80px 1fr 80px;

  @include mq(bp(large)) {
    grid-template-areas:
      'nav header'
      'nav main'
      'nav footer';
    grid-template-columns: rem(100) 1fr;
    padding: 0;
  }

  &__navigation {grid-area: nav;}
  &__header {grid-area: header;}
  &__footer { grid-area: footer; }
  &__page {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    // grid-template-rows: auto 1fr auto;
  }

  @include mq(bp(large)) {


    // &__header,
    // &__footer,
    // &__page {
    //   grid-column: span 3;
    // }
  }
}

.container {
  max-width: rem(1140);
  margin: 0 auto;
  //padding: 0 rem(15);
}
